:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0/ 0.5);
}



body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/ngaji.jpg);
    background-size:cover;
    background-position: center;
    z-index: -1;
    /* filter: grayscale(); */
}

.hero {
    position: relative;
    min-height: 103vh;
}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4{
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a{
    color: #3e8d73;
    background-color: #a5eca5;
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: #3e8d73;
    color: #a5eca5;
}






.info h2
{
    color: white;
    font-family: 'Sacramento';
    font-size: 3rem;
}



.info{
    background-color: #3e8d73;
    color: white;
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.info .kecil{
    line-height: 2rem;
}

.info .alamat{
    font-size: 1.1rem;
}

.info .description{
    font-size: 1rem;
    font-weight: 300;
}

.info .card{
    background-color: rgba(255,255,255,0.4) !important;
    color: white !important;
    border: 1px solid #062c32;
}

.info .card-header{
    border-bottom: 1px solid #062c32;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-bod{
    font-size: 1rem;
}

.info .card-footer{
    border-top: 1px solid #062c32;
    font-size: 1rem;
    font-weight: 400;
}

.info a{
    background-color: white;
    border: none;
    color: #062c32;
    font-size: 0.9rem;
}

.info a:hover{
    color: white;
    background-color: #062c32;
    border: none;
}



footer{
    padding: 1rem;
    background-color: #00c194;
    color: white;
}

footer a{
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

.info .kir{
    text-align: left;
}




.audio-icon-wrapper{
    width: 3rem !important;
    height: 3rem !important;
    font-size: 3rem !important;
    position: fixed !important;
    bottom: 2rem !important;
    right: 2rem !important;
    cursor: pointer;
    color: white;
    /* opacity: 0.5; */
    /* mix-blend-mode: difference; */
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}


@keyframes rotating{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.navbar a:hover{
    text-decoration: underline;

}

/* transisi web */

/* home */
.home.animate .atas{
    animation: atas 3s;
}

.home.animate .bawah{
    animation: bawah 8s;
}

.home.animate .kanan{
    animation: kanan 6s;
}

.home.animate .kiri{
    animation: kiri 6s;
}

.home.animate .heart{
    animation: opasitas 7s;
    z-index: 1 !important; 
    opacity: 1;
}

/* akad resepsi*/
.info.animateA .bawah,
.resepsi.animateB .bawah{
    animation: bawah 2s;
}

.info.animateA .kiri,
.resepsi.animateB .kiri{
    animation: kiri 6s;
}

.info.animateA .kanan,
.resepsi.animateB .kanan{
    animation: kanan 6s;
}

.info.animateA .atas,
.resepsi.animateB .atas{
    animation: opasitas 7s;
    opacity: 1;
}

.info.info.animateA .atas2{
    animation: atas 3s;
}

/* cerita */
.story.animateC .bawah{
    animation: bawah 4s !important;
}

.story.animateC .opasitas{
    animation: opasitas 5s !important;
    opacity: 1;
}

.story.animateC .kiri{
    animation: kiri 7s !important;
}

.story.animateC .kanan{
    animation: kanan 7s !important;
}

/* gallery */
.gallery.animateD .atas{
    animation: atas 3s ease-in-out;
}

.gallery.animateD .a{
    animation: bawahG 2s ease-in-out;
}

.gallery.animateD .b{
    animation: bawahG 3s ease-in-out;
}

.gallery.animateD .c{
    animation: bawahG 4s ease-in-out;
}

.gallery.animateD .d{
    animation: bawahG 5s ease-in-out;
}

.gallery.animateD .e{
    animation: bawahG 6s ease-in-out;
}

.gallery.animateD .f{
    animation: bawahG 7s ease-in-out;
}

.gallery.animateD .g{
    animation: bawahG 8s ease-in-out;
}

.gallery.animateD .h{
    animation: bawahG 9s ease-in-out;
}

/* rsvp */
.rsvp.animateE .kanan{
    animation: kanan 3s;
}

.rsvp.animateE .atas{
    animation: atas 2s;
}

.rsvp.animateE .bawah{
    animation: bawah 2s;
}

/* gifts */
.gifts.animateF .opasitas{
    animation: opasitas 4s;
}


/* ketika di klik atau scroll, mainkan transisi */

/* masuk dari kanan */
@keyframes kanan{

    from{
        opacity: 0;
        transform: translateX(60%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* masuk dari kiri */
@keyframes kiri{

    from{
        opacity: 0;
        transform: translateX(-60%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* masuk dari atas */
@keyframes atas{

    from{
        opacity: 0;
        transform: translateY(-60%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* masuk dari bawah */
@keyframes bawah{

    from{
        opacity: 0;
        transform: translateY(60%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opasitas{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

/* dari bawah khusus gallery */
@keyframes bawahG{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



/*Media Query*/
/* ExtraLarge */
@media (max-width: 1200px){
    .home .heart{
        transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px){
    html{
        font-size: 75%;
    }

    .simply-countdown > .simply-section{
        padding: 70px;
    }

    .home .heart{
        display: none;
    }

    .timeline::before{
        /* setting */
        left: 60px;
    }

    .timeline li .timeline-image{
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel{
        /* width: calc((100%-200px)); */
        width: 70%;
        float: right;
    }

    .timeline li .timeline-panel::before{
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 30px;
    }

    .timeline li .timeline-panel::after{
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 30.5px;
    }

}

/* tablet */
/*
@media (max-width: 768px){
    html{
        font-size: 65%;
    }
    .simply-countdown > .simply-section{
        padding: 60px; 
        margin: 5px;
    }

    .mynavbar .navbar-brand{
        font-size: 1.3rem;
    }

    .mynavbar .nav-link{
        font-size: 0.9rem;
        text-align: center;
    }


    .timeline li .timeline-image{
        width: 140px;
        height: 140px;
    }

    .story.animateC .timeline,
    .story.animateC .kiri,
    .story.animateC .kanan,
    .story.animateC .bawah{
        animation: bawah 6s !important;
    }

    .gallery.animateD .a{
        animation: kiri 1s ease-in-out;
    }
    
    .gallery.animateD .b{
        animation: kanan 1s ease-in-out;
    }
    
    .gallery.animateD .c{
        animation: kiri 2s ease-in-out;
    }
    
    .gallery.animateD .d{
        animation: kanan 2s ease-in-out;
    }
    
    .gallery.animateD .e{
        animation: kiri 3s ease-in-out;
    }
    
    .gallery.animateD .f{
        animation: kanan 3s ease-in-out;
    }
    
    .gallery.animateD .g{
        animation: kiri 4s ease-in-out;
    }
    
    .gallery.animateD .h{
        animation: kanan 4s ease-in-out;
    }

    
}
/* hp */
/* @media (max-width: 576px){
    html{
        font-size: 60%;
    }
    .simply-countdown > .simply-section{
        padding: 45px;
        margin: 3px;
    }

    .timeline li .timeline-image{
        width: 80px;
        height: 80px;
    }

    .timeline li .timeline-panel{
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before{
        top: 30px;
    }

    .timeline li .timeline-panel::after{
        top: 30.5px;
    }

    .timeline-panel{
        transform: translateX(-20px) !important;
    }



} */

/* ketika di klik atau scroll, mainkan transisi, gambar hero, akad resepsi kosong bgt */

/* hp 390px */
/* @media (max-width: 390px){
    html{
        font-size: 50%;
    }

    .hero::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/contoh\ undangan.jpg);
        background-size:contain;
        background-position: center;
        z-index: -1;
        /* filter: grayscale(); */
    /*}

    .hero h4{
        font-size: 1.3rem;
    }
    .hero h1{
        font-size: 5rem;
    }

    .hero p{
        font-size: 1.2rem;
    }

    .simply-countdown > .simply-section{
       padding: 30px;
       margin: 3px;
    }

    .home {
        margin-top: -4.2rem;
        padding-bottom: 4rem;
    }

    .home .kepala{
        max-width: 75%;
        padding-top: 2rem;
    }

    .home .couple{
        margin-top: 3rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .home .couple p{
        font-size: 1rem;
    }

    .home .cewek{
        margin-top: 1rem;
    }

    .home .ayat{
        max-width: 80%;
    }

    .info,
    .resepsi{
        height: 100vh;
    }

    .info .container,
    .resepsi .container{
        margin-top: 8rem;
    }



    .gifts{
        padding-bottom: 14rem;
    }
   
    .timeline li .timeline-image{
        width: 70px;
        height: 70px;
    }

    .timeline li .timeline-panel{
        width: 60%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before{
        top: 30px;
    }

    .timeline li .timeline-panel::after{
        top: 30.5px;
    }

    .mynavbar .container{
        height: 25px;
    }


} */


/* coba */
/* tablet */

/* hp 390px */
@media (max-width: 720px){
    html{
        font-size: 55%;
    }


    .hero::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/ngaji.jpg);
        background-size:contain;
        background-position: center;
        z-index: -1;
        /* filter: grayscale(); */
    }

    .hero h4{
        font-size: 1.3rem;
    }
    .hero h1{
        font-size: 4rem;
    }

    .hero p{
        font-size: 1.2rem;
    }

    

    .simply-countdown > .simply-section{
       padding: 30px;
       margin: 3px;
    }

    .mynavbar{
        height: 4.7rem;
    }

    .home {
        margin-top: -4.9rem;
        padding-bottom: 4rem;
        height: 102vh;
    }

    .home .kepala{
        max-width: 75%;
        padding-top: 2rem;
    }

    .home .couple{
        margin-top: 6rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .home .couple p{
        font-size: 1rem;
    }

    .home .cewek{
        margin-top: 2rem;
    }

    .home .ayat{
        max-width: 80%;
    }

    .info,
    .resepsi{
        height: 93vh;
    }

    .info .atas2{
        margin-top: 1rem;
    }

    .info .kot1,
    .info .kot2{
        margin-top: 2rem;
    }

    .info .atas{
        margin-top: 1rem;
    }

    .story{
        height: 102vh;
    }

    .home,
    .story,
    .info,
    .gifts{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .story.animateC .timeline,
    .story.animateC .kiri,
    .story.animateC .kanan,
    .story.animateC .bawah{
        animation: bawah 6s !important;
    }

    .gallery.animateD .a{
        animation: kiri 1s ease-in-out;
    }
    
    .gallery.animateD .b{
        animation: kanan 1s ease-in-out;
    }
    
    .gallery.animateD .c{
        animation: kiri 2s ease-in-out;
    }
    
    .gallery.animateD .d{
        animation: kanan 2s ease-in-out;
    }
    
    .gallery.animateD .e{
        animation: kiri 3s ease-in-out;
    }
    
    .gallery.animateD .f{
        animation: kanan 3s ease-in-out;
    }
    
    .gallery.animateD .g{
        animation: kiri 4s ease-in-out;
    }
    
    .gallery.animateD .h{
        animation: kanan 4s ease-in-out;
    }

    .rsvp{
        height: 102vh;
    }

    .rsvp h2{
        font-size: 4.3rem;
        margin-bottom: 2.5rem;
    }

    .rsvp{
        padding-top: 15rem; /* buat atur nav dengan tulisan pertama*/
    }

    .gifts{
        height: 93vh;
        padding-bottom: 14rem;
    }
   
    .timeline li .timeline-image{
        width: 70px;
        height: 70px;
    }

    .timeline li .timeline-panel{
        width: 60%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before{
        top: 30px;
    }

    .timeline li .timeline-panel::after{
        top: 30.5px;
    }

    .timeline-panel{
        transform: translateX(-20px) !important;
    }

    .mynavbar .container{
        height: 25px;
    }


}




/* https://hendky.com/membuat-animasi-css/ */
/* malas ngoding */
